<div class="container chat-total">

  <!--&lt;!&ndash; HEADER AND TODO COUNT &ndash;&gt;-->
  <!--<div class="jumbotron text-center">-->
      <!--<h1> <span class="label label-info">{{chats.length}}</span></h1>-->
  <!--</div>-->



  <!--<div class="col-sm-8 col-sm-offset-2 form-group">-->
      <!--&lt;!&ndash; BIND THIS VALUE TO todoData.text IN ANGULAR &ndash;&gt;-->
      <!--<input type="text" class="form-control input-md text-center" placeholder="You have to enter your name before chatting" [(ngModel)]="chatData.name" required>-->
      <!--<span class="input-group-btn">-->
                  <!--<button type="submit" class="btn btn-primary btn-md" [disabled]="chatData.name==''">Submit</button>-->
              <!--</span>-->
  <!--</div>-->

 <div class="panel panel-primary col-sm-8 col-sm-offset-2">
  <div id="chat-header" class="row panel-heading">
      Chat Web
      <i class="fa fa-arrow-down pull-right" aria-hidden="true" (click)="header_button = 0"></i>
  </div>
  <!-- TODO LIST -->
  <div id="todo-list" class="row panel-body">
      <div *ngIf="chatData.name != ''" #scrollMe id="chatlist" angular2-auto-scroll lock-y-offset="10" observe-attributes>

          <!-- LOOP OVER THE chats IN $scope.chats -->
          <ul class="chat">
          <div class="chatbox col-sm-12" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }" *ngFor="let chat of (chats.slice(chats.length - 100,chats.length) )">
                  <!--<p class="time col-sm-3 col-xs-12">{{chat.date.slice(4,chat.date.length)}}</p>-->
              <!--<div class="col-sm-9 col-xs-12"><p class="content"><strong>{{ chat.name}}: </strong><span>{{ chat.text }}</span></p></div>-->
              <li class="clearfix" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                  <span class="chat-img" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }">
                            <img src="http://placehold.it/50/{{ chatData.name == chat.name ?  '55C1E7' :'FA6F57'}}/fff&text={{chat.name.substr(0,3)}}" alt="User Avatar" class="img-circle" />
                   </span>
                  <div class="chat-body clearfix ">

                      <div class="header">
                          <small class="text-muted" [ngClass]="{'pull-right': chatData.name == chat.name, 'pull-left' : chatData.name != chat.name }"><strong>{{chat.name}}</strong><span class="glyphicon glyphicon-time"></span>{{chat.date}}</small>
                      </div>
                      <p >
                          {{chat.text}}
                      </p>
                  </div>
              </li>
          </div>
          </ul>

      </div>
  </div>

  <!-- FORM TO CREATE chats -->

   <div id="todo-form" class="row panel-footer">
      <div class=" text-center">
          <form>
              <div class="form-group chat-add">
                  <!-- BIND THIS VALUE TO todoData.text IN ANGULAR -->
                  <input type="text" class="form-control input-md text-center chat-content" placeholder="I am a developer" [(ngModel)]="chatData.text" [disabled]="chatData.name==''" required>

              <!-- createToDo() WILL CREATE NEW chats -->
              <span class="input-group-btn">
                  <button type="submit" class="btn btn-primary btn-md"
                    (click)="createChat()" [disabled]="chatData.text==''">Send</button>
              </span>
              </div>
          </form>
      </div>
  </div>
 </div>
</div>
