<header>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--<a class="icon-bg" (click)="press()"><i class="fa fa-fw fa-bars fa-2x"></i></a>-->
                <a class="navbar-brand" href="#">Hello {{ name }}</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li router-active>
                        <a [routerLink]=" ['Home'] ">Home</a>

                    <li *ngIf="isAuthenticate" router-active>
                        <a [routerLink]=" ['Item'] " >Item</a>
                    </li>
                    <li *ngIf="isAuthenticate" router-active>
                        <a [routerLink]=" ['Ruku'] ">Ruku</a>
                    </li>
                    <li *ngIf="isAuthenticate" router-active>
                        <a [routerLink]=" ['Chuku'] ">Chuku</a>
                    </li>
                    <li *ngIf="isAuthenticate" router-active>
                        <a [routerLink]=" ['Summary'] ">Summary</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li *ngIf="!isAuthenticate"><a [routerLink]=" ['Signup'] "><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li *ngIf="!isAuthenticate"><a [routerLink]=" ['Signin'] "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li *ngIf="isAuthenticate"><a (click)="authService.logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main style="margin-top: 60px; margin-bottom: 80px">
    <router-outlet></router-outlet>
</main>

<footer class="navbar-fixed-bottom">
    <img [src]="angularLogo" width="40px">
    Angular 2 by<a [href]="url">@richardyych</a>

</footer>
