<h3 class="text-center">Warehouse App</h3>
<div class="row">
<div class="col-sm-4 col-sm-offset-4 alert alert-warning text-center" role="alert" *ngIf="!islog()" >
  <strong>Warning!</strong> You have to log in to see contents!
</div>
<div class="col-sm-4"></div>
</div>
<br>
  <div class="container" *ngIf="islog()">

  <br>
  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4 text-center"><a [routerLink]=" ['Item'] "><img src="../../assets/img/items.jpg"></a></div>
    <div class="col-sm-4"> </div>
  </div>
  <div class="row">
    <div class="col-sm-5"><a class="pull-right" [routerLink]=" ['Ruku'] "><img src="../../assets/img/ruku.jpg"></a></div>
    <div class="col-sm-2"> </div>
    <div class="col-sm-5"><a class="pull-left" [routerLink]=" ['Chuku'] "><img src="../../assets/img/chuku.jpg"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-sm-4 text-center"><a [routerLink]=" ['Summary'] "><img src="../../assets/img/summary.jpg"></a></div>
    <div class="col-sm-4"> </div>
  </div>
</div>
<br>
<br>
<div class="text-center">
  This is the app for the warehouse database.
  <br>Using Angular 4.0 + TypeScript 2.x + passport.js + mongodb + node.js + express + sass
  <br>My Email: Richardyych@gmail.com
  <div class="clearfix"></div>
  <br>
</div>
